<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub : Login page</title>
<link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>

<h1> Login </h1>
<form action="validate" method="post">
     
      <label style="color:black;">Email : </label>
      <input type = "text" name = "email"/>
      <br>
      <br>
      <label style="color:black;">Password : </label>
      <input type = "text" name = "password"/>
      <br>
      <br>
      <input type = "submit" value="LOGIN" style="color:white;"/>
</form>
</body>
</html>


